<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<% include ./elements/header %>
</head>
<body>
	<% include ./elements/navbar %>
	<%- body %>
	<% include ./elements/footer %>
	<% include ./elements/scripts %>
</body>
</html>