<link rel="stylesheet" href="frontend/css/category_style.css">

<!-- category name -->
<div class="container">
    <div class="cat-heading heading">
        <a href="#" class="text-decoration-none">
            <h3 class="display-4 m-1">Mobile</h3>
        </a>
    </div>
</div>

<!-- category sub nav -->
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Điện thoại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted" href="#">Máy tính bảng</a>
        </li>
    </ul>
    <hr>
</div>

<!-- card-grid -->
<div class="container card-grid justify-content-center">
    <div class="card text-left">
        <a href="#"><img class="card-img-top" src="img/card_img_4.jpg" alt="">
            <div class="card-body">
                <a href="#">

                </a>
                <a href="#">
                    <h5 class="card-title">Chê thì cứ chê, nhưng iPhone XR vẫn là smartphone bán chạy nhất Quý 2
                        năm nay tại Mỹ</h5>
                </a>
                <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                            class="middotDivider"></span>3 mins
                        ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
                <p class="card-text">Body</p>
            </div>
    </div>
    <div class="card text-left">
        <a href="#"><img class="card-img-top" src="img/card_img_3.jpg" alt=""></a>
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Huawei phản hồi việc P30 Pro bị tố dùng hình ảnh có sẵn để dựng lại ảnh
                    chụp
                    Mặt trăng: "AI không thay thế hình ảnh kiểu đó"</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3
                    mins ago<br>#Smartphone</small></p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <a href="#"><img class="card-img-top" src="img/card_img_2.jpg" alt=""></a>
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Title</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <a href="#"><img class="card-img-top" src="img/card_img_1.jpg" alt=""></a>
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Lenovo tiết lộ mảng kinh doanh smartphone không còn thua lỗ sau khi thâu
                    tóm
                    Motorola</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Title</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Thử thách chụp đêm xuyên Việt cùng P30 Pro</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Apple bị kiện tập thể vì cố tình bán iPhone 4, 4s và 5 với nút nguồn bị
                    hỏng
                </h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">OnePlus 7 Pro lộ giá bán từ 745 USD</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Từ chỗ chỉ biết copy, "xào nấu", smartphone Trung Quốc đã định nghĩa lại
                    "sáng tạo"
                    trước cả Samsung, Apple như thế nào</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Chơi PUBG Mobile, Asphalt 9, Dynasty Legend trên Galaxy Fold trông như
                    thế
                    nào?</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Title</h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
    <div class="card text-left">
        <img class="card-img-top" src="img/card_img_4.jpg" alt="">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Mua chip 5G từ cả Qualcomm và Samsung: chiến thuật khôn ngoan của "cáo
                    già"
                    Tim Cook
                </h5>
            </a>
            <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                        class="middotDivider"></span>3 mins
                    ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
            </p>
            <p class="card-text">Body</p>
        </div>
    </div>
</div>

<hr class="my-4 container">
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-lg">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>