<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center padding">
                <a class="navbar-brand mx-auto" href="#"><img src="frontend/img/logo.jpg" alt="logo"></a>
                <p class="lead">Easy come, easy go</p>
            </div>
            <div class="col-md-4 text-center padding">
                <hr>
                <h3>About us</h3>
                <hr>
                <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                <p>Nguyễn Đăng Khởi</p>
                <p>Trương Hoài Tâm</p>
            </div>
            <div class="col-md-4 text-center padding">
                <hr>
                <h3>Contact us</h3>
                <hr>
                <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>