<div class="signup-form">
    <form action="#" method="post">
        <h2>Change Password</h2>
        <p class="hint-text">Change your password</p>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Mật khẩu cũ
                    </div>
                </div>
                <input type="password" class="form-control" name="old_password" placeholder="Old Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Mật khẩu mới
                    </div>
                </div>
                <input type="password" class="form-control" name="new_password" placeholder="New Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Nhập lại mật khẩu mới
                    </div>
                </div>
                <input type="password" class="form-control input-lg" name="confirm_new_password"
                    placeholder="Confirm New Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Đổi mật khẩu</button>
        </div>
    </form>
</div>