<div class="signup-form">
        <form action="#" method="post">
            <h2>Your Information</h2>
            <p class="hint-text">Edit your info</p>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Tên đăng nhập
                        </div>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Ảnh đại diện
                        </div>
                    </div>
                    <input type="file" class="form-control" name="file" placeholder="Avatar" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Họ tên
                        </div>
                    </div>
                    <input type="text" class="form-control" name="name" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Bút danh
                        </div>
                    </div>
                    <input type="text" class="form-control" name="alias" placeholder="Alias" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Email
                        </div>
                    </div>
                    <input type="email" class="form-control input-lg" name="email" placeholder="Email Address"
                        required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Ngày sinh
                        </div>
                    </div>
                    <input type="date" class="form-control" name="dob" placeholder="Ngày sinh" required="required">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sửa đổi</button>
            </div>
        </form>
    </div>