<%
    const linkPrefix = systemConfig.prefixFrontend + `/auth/`;
%>

<link rel="stylesheet" href="frontend/css/signup_style.css">

<div class="signup-form">
    <form action="<%= linkPrefix %>reset/<%= token %>" method="post">
        <h2>Reset</h2>
        <p class="hint-text">Reset</p>
        <% include ./../../elements/errors %>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Nhập password
                    </div>
                </div>
                <input type="password" class="form-control input-lg" name="password" placeholder="password"
                    required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Nhập lại password
                    </div>
                </div>
                <input type="password" class="form-control input-lg" name="confirm_password" placeholder="confirm password"
                    required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Gửi</button>
        </div>
    </form>
</div>