<link rel="stylesheet" href="frontend/css/detail_style.css">

<!-- Container -->
<div class="container justify-content-center">
    <br class="my-4">
    <div class="container post">
        <nav class="breadcrumb m-0">
            <a class="breadcrumb-item" href="#">Mobile</a>
            <a class="breadcrumb-item active" href="#">Điện thoại</a>
        </nav>

        <h1>Title</h1>
        <hp class="text-muted">30/4/2019</hp>
        <img src="img/card_img_3.jpg" alt="img" class="img-fluid mt-2">
        <div class="content mt-3 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellat aut quidem impedit facere, illo
            distinctio fuga, neque nostrum quaerat voluptate debitis dolore corporis est ullam soluta quis cum
            explicabo accusamus quae deleniti a. Provident porro, magnam illum doloribus sed sequi odio architecto
            aliquid amet saepe esse mollitia explicabo, praesentium enim quis, rerum harum quo voluptate consequatur
            tempore optio nisi! Nihil esse ipsum natus! Ad ex minima pariatur. Sunt cumque vero consequatur!
            Perspiciatis, consequatur beatae quasi rerum at quibusdam! Doloribus deserunt commodi dolores ipsam qui
            voluptas, facilis reprehenderit illo eligendi, deleniti consectetur ratione, dolore distinctio accusamus
            eius doloremque. Magnam, sequi.
        </div>
        <div class="tag mt-2">
            Tag:
            <a href="#" class="btn btn-outline-info">Smartphone</a>
        </div>
        <br>
    </div>

    <p class="lead container mt-4 mb-0">Cùng chuyên mục:</p>
    <div class="container-fluid card-grid justify-content-center">
        <div class="card text-left">
            <a href="#"><img class="card-img-top" src="img/card_img_4.jpg" alt="">
                <div class="card-body">
                    <a href="#">

                    </a>
                    <a href="#">
                        <h5 class="card-title">Chê thì cứ chê, nhưng iPhone XR vẫn là smartphone bán chạy nhất Quý 2
                            năm nay tại Mỹ</h5>
                    </a>
                    <p class="card-text cat-time"><small class="text-muted"><a href="#"
                                class="text-muted">Mobile</a><span class="middotDivider"></span>3 mins
                            ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
                    <p class="card-text">Body</p>
                </div>
        </div>
        <div class="card text-left">
            <a href="#"><img class="card-img-top" src="img/card_img_3.jpg" alt=""></a>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Huawei phản hồi việc P30 Pro bị tố dùng hình ảnh có sẵn để dựng lại ảnh
                        chụp
                        Mặt trăng: "AI không thay thế hình ảnh kiểu đó"</h5>
                </a>
                <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                            class="middotDivider"></span>3
                        mins ago<br>#Smartphone</small></p>
                <p class="card-text">Body</p>
            </div>
        </div>
        <div class="card text-left">
            <a href="#"><img class="card-img-top" src="img/card_img_2.jpg" alt=""></a>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Title</h5>
                </a>
                <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                            class="middotDivider"></span>3 mins
                        ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
                </p>
                <p class="card-text">Body</p>
            </div>
        </div>
        <div class="card text-left">
            <a href="#"><img class="card-img-top" src="img/card_img_3.jpg" alt=""></a>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Huawei phản hồi việc P30 Pro bị tố dùng hình ảnh có sẵn để dựng lại ảnh
                        chụp
                        Mặt trăng: "AI không thay thế hình ảnh kiểu đó"</h5>
                </a>
                <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                            class="middotDivider"></span>3
                        mins ago<br>#Smartphone</small></p>
                <p class="card-text">Body</p>
            </div>
        </div>
        <div class="card text-left">
            <a href="#"><img class="card-img-top" src="img/card_img_2.jpg" alt=""></a>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Title</h5>
                </a>
                <p class="card-text cat-time"><small class="text-muted"><a href="#" class="text-muted">Mobile</a><span
                            class="middotDivider"></span>3 mins
                        ago<br><a href="#" class="text-muted">#Smartphone</a></small></p>
                </p>
                <p class="card-text">Body</p>
            </div>
        </div>

    </div>

    <!-- Comment -->
    <div class="d-flex justify-content-center mt-4">
        <div class="comment">
            <p class="lead">Response:</p>
            <div class="card">
                <div class="d-float mt-3 ml-3">
                    <a href="#"><img src="img/comment-icon.png" alt="comment-icon"
                            class="user-icon float-left mr-2"></a>
                </div>
                <textarea name="comment" cols="30" rows="2" placeholder="Write your response..."
                    class="form-control border-0 float-left m-1" style="width: 99%; resize:none;"></textarea>
                <div class="inline-block m-2">

                    <button class="btn btn-sm btn-primary btn-inline">Post</button>
                </div>
            </div>
            <div class="card">
                <div class="d-float mt-3 ml-3">
                    <a href="#"><img src="img/comment-icon.png" alt="comment-icon"
                            class="user-icon float-left mr-2"></a>
                    <p class="text-muted"><a href="#" class="text-muted text-decoration-none">Sandra
                            Rea</a><br>30/4/2019</p>
                </div>
                <p class="card-text ml-3 mb-3 mr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
                    et sed in laboriosam, at illo quo
                    quaerat inventore asperiores autem.</p>
            </div>
        </div>
    </div>
</div>