<div class="alert alert-success" role="alert">

    <span class="close-btn">&times;</span> Thay đổi Trạng thái thành công

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Tìm kiếm & Lọc
                <a href="admin123/item">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="status-list col-sm-6 pl0">

                        <a class="btn m-b-sm btn-success btn-sm" href="admin123/item/all">
                            TẤT CẢ (4)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/inactive">
                            ĐÃ XUẤT BẢN (0)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/active">
                            ĐÃ ĐƯỢC DUYỆT (4)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/inactive">
                            CHƯA ĐƯỢC DUYỆT (0)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/active">
                            BỊ TỪ CHỐI (4)
                        </a>
                        </br></br>
                        <a class="btn m-b-sm btn-primary" href="">
                            TẤT CẢ (4)
                        </a>
                        <a class="btn m-b-sm btn-default" href="">
                            PREMIUM (2)
                        </a>
                        <a class="btn m-b-sm btn-default" href="">
                            THÔNG THƯỜNG (2)
                        </a>


                    </div>
                    <div class="col-sm-6">
                        <form action="admin123/item/all" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Tìm kiếm..."
                                    value="">
                                <input type="hidden" value="all">

                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Tìm kiếm</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><a href="admin123/group/all">Dọn
                                            dẹp</a></button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                Danh sách bài viết
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <div class="zcontrols">
                        <select name="action" class="form-control slbAction">
                            <option value="">Hành động hàng loạt</option>
                            <option value="">
                                Duyệt
                            </option>
                            <option value="">
                                Từ chối
                            </option>
                        </select>
                        <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction"
                            disabled>Áp dụng</button>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbAll" />
                                    </th>
                                    <th>#</th>
                                    <th>Tiêu đề</th>
                                    <th>Ảnh bìa</th>
                                    <th>Loại bài viết</th>
                                    <th>Trạng thái</th>
                                    <th>Thời điểm xuất bản</th>
                                    <th>Lý do từ chối</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <input type="checkbox" name="cid" value="5a9e5a96da67bc078421d7d6" />
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <a href="">Bài báo 1</a>
                                    </td>
                                    <td>
                                        <img id="" src="#" alt="" />
                                    </td>
                                    <td>
                                        <span class="label label-success">Premium</span>
                                    </td>
                                    <td>
                                        <span class="label label-success">Đã xuất bản</span>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <a href="admin123/item/form/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-warning btn-sm">Duyệt</a>
                                        <a href="admin123/item/delete/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-danger btn-sm btn-delete">Từ
                                            chối</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" name="cid" value="5abdc9aa598c600b6c7fd56b" />
                                    </td>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        <a href="">Bài báo 2</a>
                                    </td>
                                    <td>
                                        <img id="" src="#" alt="" />
                                    </td>
                                    <td>
                                        <span class="label label-primary">Thông thường</span>
                                    </td>
                                    <td>
                                        <span class="label label-primary">Đã được duyệt</span>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <a href="admin123/item/form/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-warning btn-sm">Duyệt</a>
                                        <a href="admin123/item/delete/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-danger btn-sm btn-delete">Từ
                                            chối</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" name="cid" value="5af7d6a306b3d71a08df04b1" />
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        <a href="">Bài báo 3</a>
                                    </td>
                                    <td>
                                        <img id="" src="#" alt="" />
                                    </td>
                                    <td>
                                        <span class="label label-primary">Thông thường</span>
                                    </td>
                                    <td>
                                        <span class="label label-warning">Chưa được duyệt</span>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <a href="admin123/item/form/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-warning btn-sm">Duyệt</a>
                                        <a href="admin123/item/delete/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-danger btn-sm btn-delete">Từ
                                            chối</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" name="cid" value="5af7d6d506b3d71a08df04b2" />
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        <a href="">Bài báo 4</a>
                                    </td>
                                    <td>
                                        <img id="" src="#" alt="" />
                                    </td>
                                    <td>
                                        <span class="label label-success">Premium</span>
                                    </td>
                                    <td>
                                        <span class="label label-danger">Bị từ chối</span>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <p></p>
                                    </td>
                                    <td>
                                        <a href="admin123/item/form/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-warning btn-sm">Duyệt</a>
                                        <a href="admin123/item/delete/5a9e5a96da67bc078421d7d6" type="button"
                                            class="btn btn-danger btn-sm btn-delete">Từ
                                            chối</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Phân trang
                <span class="label label-danger">Tổng số bài báo: 0</span>
                <span class="label label-warning">Tổng số trang: 0</span>
            </div>

            <div class="panel-body">
                <div class="infor-pagination">

                    <p>Số bài báo trong trang: <span>0</span></p>

                    <p>Hiển thị <span> 0 </span> tới <span>0</span> của <span>0</span> bài báo</p>
                </div>
                <div class="ad-pagination">

                    <ul class="pagination text-center">

                        <li class="disabled"><a>«</a></li>

                        <li><a href="admin123/item/page=1">1</a></li>

                        <li class="active"><a>2</a></li>

                        <li><a href="admin123/item/page=3">3</a></li>

                        <li><a href="admin123/item/page=4">4</a></li>

                        <li><a href="admin123/item/page=5">5</a></li>

                        <li><a href="admin123/item/page=0">»</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>