<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="admin123/item">
                    <i class="fa fa-dashboard fa-fw"></i> CRUD
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-group fa-fw"></i> Quản lý Items
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse on" aria-expanded="true">
                    <li>
                        <a href=""><i class="fa fa-angle-double-right   fa-fw"></i> Category </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-angle-double-right   fa-fw"></i> Tag </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-angle-double-right   fa-fw"></i> Bài viết </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-group fa-fw"></i> Quản lý Users
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse on" aria-expanded="true">
                    <li>
                        <a href=""><i class="fa fa-angle-double-right   fa-fw"></i> Người dùng </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>