<%
    articleTypeHelper = (linkPrefix, article_type, id) => {
        let color = '';
        switch(article_type) {
            case 'Premium':
                color = 'success';
                break;
            case 'Thông thường':
                color = 'primary';
                break;
            default:
        }
        return `<span class="label label-${color}">${article_type}</span>`;
    }
%>