<%
    paginationHelper = (paginationObj, linkPrefix, currentStatus, keyword) => {
        let totalItems = paginationObj.totalItems;
        let totalItemsPerPage = paginationObj.totalItemsPerPage;
        let totalPages = Math.ceil(totalItems/totalItemsPerPage);
        let currentPage = paginationObj.currentPage;
        let pageRanges = paginationObj.pageRanges;
        let xhtmlPagination = '';
        let to = ((totalItemsPerPage*currentPage) > totalItems) ? totalItems : totalItemsPerPage*currentPage;
        let from = (currentPage - 1)*totalItemsPerPage + 1;

        if (totalPages > 1) {
            let xhtmlStart = '', xhtmlPrevious = '', xhtmlPages = '', xhtmlNext = '', xhtmlEnd = '';
            let link = linkPrefix + 'status/' + currentStatus;
            if (keyword !== '') {
                link += '?keyword=' + keyword + '&page=';
            } else {
                link += '?page=';
            }
            
            if (currentPage > 1) {
                xhtmlStart = `<li><a href="${link}${1}">Trang đầu</a></li>`;
                xhtmlPrevious = `<li><a href="${link}${currentPage-1}">Trang trước</a></li>`;
            }
            if (currentPage < totalPages) {
                xhtmlNext = `<li><a href="${link}${currentPage+1}">Trang kế</a></li>`;
                xhtmlEnd = `<li><a href="${link}${totalPages}">Trang cuối</a></li>`;
            }

            
            let middle = Math.ceil(pageRanges/2);
            let min = currentPage - middle + 1;
            let max = min + pageRanges - 1;

            if (min <= 1 ) {
                min = 1;
                max = pageRanges;
            }
            if (max >= totalPages) {
                max = totalPages;
                min = (max - pageRanges + 1 >= 1) ? max - pageRanges + 1 : 1;
            }

            for (let i = min; i <= max; i++) {
                if (i == currentPage) {
                    if (i == 1) {
                        xhtmlPages += `<li class="active"><a>1</a></li>`
                    } else {
                        xhtmlPages += `<li class="active"><a>${i}</a></li>`
                    }
                } else {
                    if (i == 1) {
                        xhtmlPages += `<li><a href="${link}${1}">1</a></li>`
                    } else {
                        xhtmlPages += `<li><a href="${link}${i}">${i}</a></li>`
                    }
                }
            }

            xhtmlPagination = '<ul class="pagination text-center">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</ul>';
        }


        return `
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Phân trang
                <span class="label label-warning">Tổng số trang: ${totalPages}</span>
                <span class="label label-danger">Tổng số item: ${totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>Số lượng item trong mỗi trang: <span>${totalItemsPerPage}</span></p>
                    <p>Hiển thị từ <span> ${from} </span> đến <span>${to}</span> của <span>${totalItems}</span> item</p>
                </div>
                <div class="ad-pagination">    
                    ${xhtmlPagination}
                </div>
            </div>    
        </div>
        `;   
    }
%>