<%
    selectBoxHelper = (name, items, selected_option) => {
        let xhtml = '';
        items.forEach((item) => {
            let selected = (item.id == selected_option) ? 'selected' : '';
            let id = (item.id == undefined) ? 'novalue' : item.id;
            xhtml += `<option value="${id}" ${selected}>${item.name}</option>`;      
        });
        return `
            <select name="${name}" class="form-control">${xhtml}</select>
        `;
    }
%>