<%
    paginationHelper = (paginationObj, linkPrefix, keyword) => {
        let totalItems = paginationObj.totalItems;
        let totalItemsPerPage = paginationObj.totalItemsPerPage;
        let totalPages = Math.ceil(totalItems/totalItemsPerPage);
        let currentPage = paginationObj.currentPage;
        let pageRanges = paginationObj.pageRanges;
        let xhtmlPagination = '';

        if (totalPages > 1) {
            let xhtmlStart = '', xhtmlPrevious = '', xhtmlPages = '', xhtmlNext = '', xhtmlEnd = '';
            let link = linkPrefix;
            if (keyword !== '') {
                link += '?keyword=' + keyword + '&page=';
            } else {
                link += '?page=';
            }
            
            if (currentPage > 1) {
                xhtmlStart = `<li class="page-item"><a class="page-link" href="${link}${1}">Trang đầu</a></li>`;
                xhtmlPrevious = `<li class="page-item"><a class="page-link" href="${link}${currentPage-1}">Trang trước</a></li>`;
            }
            if (currentPage < totalPages) {
                xhtmlNext = `<li class="page-item"><a class="page-link" href="${link}${currentPage+1}">Trang kế</a></li>`;
                xhtmlEnd = `<li class="page-item"><a class="page-link" href="${link}${totalPages}">Trang cuối</a></li>`;
            }

            
            let middle = Math.ceil(pageRanges/2);
            let min = currentPage - middle + 1;
            let max = min + pageRanges - 1;

            if (min <= 1 ) {
                min = 1;
                max = pageRanges;
            }
            if (max >= totalPages) {
                max = totalPages;
                min = (max - pageRanges + 1 >= 1) ? max - pageRanges + 1 : 1;
            }

            for (let i = min; i <= max; i++) {
                if (i == currentPage) {
                    if (i == 1) {
                        xhtmlPages += `<li class="page-item active"><a class="page-link">1</a></li>`
                    } else {
                        xhtmlPages += `<li class="page-item active"><a class="page-link">${i}</a></li>`
                    }
                } else {
                    if (i == 1) {
                        xhtmlPages += `<li class="page-item"><a class="page-link" href="${link}${1}">1</a></li>`
                    } else {
                        xhtmlPages += `<li class="page-item"><a class="page-link" href="${link}${i}">${i}</a></li>`
                    }
                }
            }

            xhtmlPagination = '<ul class="pagination justify-content-center pagination-lg">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</ul>';
        }


        return `${xhtmlPagination}`;
    }
%>

